.idea
.DS_STORE
.eslintcache
*.swp
*~

/node_modules


**/build/
**/*.log
coverage

.npmrc

npm-debug.log
npm-debug.log*
lerna-debug.log

*.tsbuildinfo
identity-store.json
key-store.json
*.sqlite

.vscode/
node_modules
temp

agent.yml
data

/src/testFile
/trash

test.js
test.ts